In [1]:
import scipy as sp
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [44]:
# Load data
mat = sp.io.loadmat("dataset1.mat")

mat.keys()
# '__header__', '__version__', '__globals__',
# 'r', 'x_true', 't', 'v', 'l', 'r_var', 'v_var'

r = mat["r"]
x_true = mat["x_true"]
t = mat["t"]
v = mat["v"]
l = mat["l"]
r_var = mat["r_var"]
v_var = mat["v_var"]
# print(r.shape, x_true.shape, t.shape, v.shape, l.shape, r_var.shape, v_var.shape)

# broadcast
l = np.broadcast_to(l, r.shape)
r_var = np.broadcast_to(r_var, r.shape)
v_var = np.broadcast_to(v_var, r.shape)

col_name = ["r", "x_true", "t", "v", "l", "r_var", "v_var"]
df = pd.DataFrame(np.hstack([r, x_true, t, v, l, r_var, v_var]), columns=col_name)
df

              r    x_true       t    v         l     r_var     v_var
0      3.454506  0.984457     0.0  0.0  4.428479  0.000367  0.002261
1      3.456506  0.984434     0.1  0.0  4.428479  0.000367  0.002261
2      3.452506  0.984518     0.2  0.0  4.428479  0.000367  0.002261
3      3.454506  0.984452     0.3  0.0  4.428479  0.000367  0.002261
4      3.451506  0.984406     0.4  0.0  4.428479  0.000367  0.002261
...         ...       ...     ...  ...       ...       ...       ...
12704  3.773506  0.660228  1270.4  0.0  4.428479  0.000367  0.002261
12705  3.771506  0.660205  1270.5  0.0  4.428479  0.000367  0.002261
12706  3.772506  0.660182  1270.6  0.0  4.428479  0.000367  0.002261
12707  3.771506  0.660160  1270.7  0.0  4.428479  0.000367  0.002261
12708  3.773506  0.660137  1270.8  0.0  4.428479  0.000367  0.002261

[12709 rows x 7 columns]